* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
}

main {
    width: 1440px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 300px;
    height: 470px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}

section img {
    width: 270px;
    height: 270px;
    border-radius: 15px;
    margin-top: 20px;
}

h1 {
    font-size: 20px;
    margin-top: 20px;
    color: hsl(218, 44%, 22%);
}

p {
    color: hsl(220, 15%, 55%);
    margin-top: 20px;
    font-size: 13px;
}

@media screen and (max-width:400px) {
    main {
        max-width: 375px;
        height: 500px;
    }
}